.*.sw?
.DS_Store
.netrc
.swiftpm
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.vscode
*.docc-build
*.vs
/.build
/*.xcodeproj
/Packages
DerivedData/
Package.resolved
xcuserdata/
